.app {
  text-align: center;
}

.app__header {
  background-color: #4267b2;
  margin: 0;
  padding: 0.5em;
  color: #fff;
}

.app__input {
  padding: 1em;
}

@media (min-width: 768px) {
  .app__input {
    max-width: 70vw;
    margin: auto;
  }
}
